* {
    span.error {
        color: red;
    }
}

#dashbord {
    background-image: url("../image/background/ovan.jpg");

    #titreDashbord {
        background-color: rgba(255, 228, 196, 0.611);
        width: fit-content;
        margin: 0 auto;
        margin-top: .5rem;
        padding: .5rem;
        border-radius: 1rem;
        font-weight: bold;
        color: rgb(57, 57, 57);
        border: solid grey;
    }

    #dateDuJour {
        background-color: rgba(255, 228, 196, 0.611);
        color: rgb(57, 57, 57);
        font-size: 2rem;
        width: fit-content;
        padding: .5rem;
        border-radius: 1rem;
        margin: .5rem;
        font-weight: bold;
        border: solid grey;


    }

    #sideNav {
        background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
        margin: 0;
        padding: 1rem;
        border-radius: 1rem;
        border: solid black;
        line-height: .5rem;

        li {
            .user-view {
                a {
                    img {
                        border: dotted #263238;
                    }
                }
            }
        }

        .deconnexion {
            color: black;
            font-weight: bold;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            padding: 1rem;
        }

        .deconnexion:hover {
            color: red;
        }

        .contours {
            border: solid#263238;
            display: flex;
            flex-direction: column;
            background-color: grey;
            border-radius: .5rem;
            text-align: center;
            margin: 1rem;

            .titreInfo {
                font-size: 1.2rem;
                color: #263238;
                font-weight: bold;
                text-transform: capitalize;
                line-height: .9rem;


            }

            .dataInfo {
                font-size: .8rem;
                font-weight: bold;
                text-transform: capitalize;
            }


        }
    }

    #ensembleDashbord {
        background-color: #26323894;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        border: solid rgba(255, 228, 196, 0.611);


        #cardUserTot {
            background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
            border-radius: 1rem;

            #userTot {
                color: rgb(57, 57, 57);
                border: solid grey;
                border-radius: 1rem;

                h6 {
                    font-weight: bold;
                }

                .nb {
                    font-size: 2rem;
                    font-weight: bold;
                    margin: 0 auto;

                    i {
                        margin-right: .5rem;
                    }
                }
            }
        }

        #cardUserTot:hover {


            h6 {
                display: none;
            }


        }

        #cardActifTot {
            color: rgb(57, 57, 57);
            background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
            border-radius: 1rem;

            #userActifTot {
                border: solid grey;
                border-radius: 1rem;

                h6 {
                    font-weight: bold
                }

                .nb {
                    font-size: 2rem;
                    font-weight: bold;

                    i {
                        margin-right: .5rem;
                    }
                }
            }
        }

        #cardActifTot:hover {


            h6 {
                display: none;
            }
        }

        #cardTrajetTot {
            color: rgb(57, 57, 57);
            background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
            border-radius: 1rem;

            #trajetTot {
                border: solid grey;
                border-radius: 1rem;

                h6 {
                    font-weight: bold;


                }

                .nb {
                    font-size: 2rem;
                    font-weight: bold;

                    i {
                        margin-right: .5rem;
                    }
                }
            }
        }

        #cardTrajetTot:hover {


            h6 {
                display: none;
            }
        }

        #cardGraphStat {
            background-color: rgb(0, 0, 0);
            border-radius: 1rem;

            #GraphStat {
                border: solid grey;
                border-radius: 1rem;

                h6 {
                    font-weight: bold;

                    i {
                        margin-right: .5rem;
                    }
                }
            }
        }

        #cardAVenir {
            border-radius: 1rem;

            #aVenir {
                border: solid grey;
                border-radius: 1rem;

                h6 {
                    font-weight: bold;
                }
            }
        }

        #cardLastTrajet {
            background-color: rgba(255, 228, 196, 0.611);
            border-radius: 1rem;

            #lastTrajet {
                border: solid grey;
                border-radius: 1rem;
                padding: 1rem;
                font-weight: bold
            }

            #cardTrajet {
                text-transform: capitalize;

                h6 {
                    font-weight: bold;
                }
            }

            #cardTrajet:hover {
                color: #263238;

                border-radius: 1rem;
            }
        }
    }

    #blockLastUser {
        background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
        border: solid black;
        border-radius: 1rem;

        #lastUser {
            border: solid #263238;
            border-radius: 1rem;
            font-weight: bold;
            padding: .5rem;
        }

        #dataUser {
            background-color: grey;
            color: #263238;
            padding: .5rem;
            display: flex;
            margin: 0.5rem;
            border: solid;
            border-radius: 1rem;
            flex-direction: column;
            align-items: center;

            #userPseudo {
                margin: 0;
                font-weight: bold;
                text-transform: capitalize;

            }

            img {
                width: 3rem;
                height: auto;
                border: dotted;
            }
        }
    }


}

#allUserPage {
    background-image: url("../image/background/bric-wall.jpg");


}