* span.error {
  color: red;
}

#dashbord {
  background-image: url("../image/background/ovan.jpg");
}
#dashbord #titreDashbord {
  background-color: rgba(255, 228, 196, 0.611);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  color: rgb(57, 57, 57);
  border: solid grey;
}
#dashbord #dateDuJour {
  background-color: rgba(255, 228, 196, 0.611);
  color: rgb(57, 57, 57);
  font-size: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  font-weight: bold;
  border: solid grey;
}
#dashbord #sideNav {
  background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  border: solid black;
  line-height: 0.5rem;
}
#dashbord #sideNav li .user-view a img {
  border: dotted #263238;
}
#dashbord #sideNav .deconnexion {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem;
}
#dashbord #sideNav .deconnexion:hover {
  color: red;
}
#dashbord #sideNav .contours {
  border: solid #263238;
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem;
}
#dashbord #sideNav .contours .titreInfo {
  font-size: 1.2rem;
  color: #263238;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 0.9rem;
}
#dashbord #sideNav .contours .dataInfo {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
}
#dashbord #ensembleDashbord {
  background-color: rgba(38, 50, 56, 0.5803921569);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid rgba(255, 228, 196, 0.611);
}
#dashbord #ensembleDashbord #cardUserTot {
  background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardUserTot #userTot {
  color: rgb(57, 57, 57);
  border: solid grey;
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardUserTot #userTot h6 {
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardUserTot #userTot .nb {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
}
#dashbord #ensembleDashbord #cardUserTot #userTot .nb i {
  margin-right: 0.5rem;
}
#dashbord #ensembleDashbord #cardUserTot:hover h6 {
  display: none;
}
#dashbord #ensembleDashbord #cardActifTot {
  color: rgb(57, 57, 57);
  background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardActifTot #userActifTot {
  border: solid grey;
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardActifTot #userActifTot h6 {
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardActifTot #userActifTot .nb {
  font-size: 2rem;
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardActifTot #userActifTot .nb i {
  margin-right: 0.5rem;
}
#dashbord #ensembleDashbord #cardActifTot:hover h6 {
  display: none;
}
#dashbord #ensembleDashbord #cardTrajetTot {
  color: rgb(57, 57, 57);
  background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardTrajetTot #trajetTot {
  border: solid grey;
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardTrajetTot #trajetTot h6 {
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardTrajetTot #trajetTot .nb {
  font-size: 2rem;
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardTrajetTot #trajetTot .nb i {
  margin-right: 0.5rem;
}
#dashbord #ensembleDashbord #cardTrajetTot:hover h6 {
  display: none;
}
#dashbord #ensembleDashbord #cardGraphStat {
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardGraphStat #GraphStat {
  border: solid grey;
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardGraphStat #GraphStat h6 {
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardGraphStat #GraphStat h6 i {
  margin-right: 0.5rem;
}
#dashbord #ensembleDashbord #cardAVenir {
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardAVenir #aVenir {
  border: solid grey;
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardAVenir #aVenir h6 {
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardLastTrajet {
  background-color: rgba(255, 228, 196, 0.611);
  border-radius: 1rem;
}
#dashbord #ensembleDashbord #cardLastTrajet #lastTrajet {
  border: solid grey;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardLastTrajet #cardTrajet {
  text-transform: capitalize;
}
#dashbord #ensembleDashbord #cardLastTrajet #cardTrajet h6 {
  font-weight: bold;
}
#dashbord #ensembleDashbord #cardLastTrajet #cardTrajet:hover {
  color: #263238;
  border-radius: 1rem;
}
#dashbord #blockLastUser {
  background-image: Radial-gradient(rgb(48, 48, 144), rgba(255, 228, 196, 0.611));
  border: solid black;
  border-radius: 1rem;
}
#dashbord #blockLastUser #lastUser {
  border: solid #263238;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}
#dashbord #blockLastUser #dataUser {
  background-color: grey;
  color: #263238;
  padding: 0.5rem;
  display: flex;
  margin: 0.5rem;
  border: solid;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
}
#dashbord #blockLastUser #dataUser #userPseudo {
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}
#dashbord #blockLastUser #dataUser img {
  width: 3rem;
  height: auto;
  border: dotted;
}

#allUserPage {
  background-image: url("../image/background/bric-wall.jpg");
}
#allUserPage #ensembleUser .row .collection {
  border: none;
}
#allUserPage #ensembleUser .row .collection .collection-item.avatar {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4392156863), black);
  border-radius: 1rem;
}
#allUserPage #ensembleUser .row .collection .collection-item.avatar img {
  border: dotted;
}
#allUserPage #ensembleUser .row .collection .collection-item.avatar #userPseudo {
  font-weight: bold;
  font-size: 1.5rem;
}
#allUserPage #ensembleUser .row .collection .collection-item.avatar #userEmail {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */